<div class="container">
  <div id="phone-view">
    <img class="phone-base" src="images/phone_top.png">
    <div class="phone-body">
      <img class="phone-base" src="images/phone_body.png">
      <div id="phone-container"></div>
    </div>
    <img class="phone-base" src="images/phone_bottom.png">
  </div>
  <div id="component-view">
    B
  </div>
</div>
